<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Group Chat</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="app-container">
      <aside class="sidebar">
        <h2>My Chats</h2>
        <ul id="userList">
          <!-- Will change later -->
          <li id="personal-chat">User2</li>
        </ul>
        <button id="addUserBtn">+ Add User</button>

        <hr />

        <h2>My Groups</h2>
        <ul id="groupList"></ul>
        <button id="createGroupBtn">+ Create Group</button>
      </aside>

      <main class="chat-area">
        <header class="chat-header">
          <h3 id="currentGroupName">Select a group</h3>
          <button id="inviteBtn">Invite User</button>
          <div id="memberPanel">
            <ul id="memberList"></ul>
          </div>
        </header>

        <div id="chatBox" class="chat-box"></div>
        <button id="loadMore">Load more…</button>

        <div class="chat-input">
          <input
            type="text"
            id="messageInput"
            placeholder="Type your message..."
          />
          <input type="file" id="fileInput" style="display: none" />
          <label for="fileInput" id="fileLabel"> 📎 </label>

          <button id="sendBtn">Send</button>
        </div>
      </main>
    </div>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/home.js"></script>
  </body>
</html>
