<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="register">
      <form class="register-form" onsubmit="handleRegisterSubmit(event)">
        <div class="form-group">
          <label for="name">Name</label>
          <div class="input-group">
            <i class="fas fa-user-astronaut"></i>
            <input type="text" id="name" name="name" required />
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-group">
            <i class="fa-solid fa-envelope"></i>
            <input type="email" id="email" name="email" required />
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Phone Number</label>
          <div class="input-group">
            <i class="fa-solid fa-phone"></i>
            <input
              type="tel"
              id="phone"
              min="10"
              max="10"
              name="phone"
              required
            />
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <div class="input-group">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" name="password" required />
          </div>
        </div>

        <div class="form-group text-center">
          By clicking 'Register Now', you agree to our
          <a href="#">Terms & Conditions</a>
        </div>

        <div class="form-group text-center">
          <button type="submit">Register</button>
        </div>

        <div class="form-group text-center">
          Already have an account? <a href="#">Login</a>
        </div>
      </form>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/register.js"></script>
</html>
